@model IEnumerable<SIMS_Demo.Models.Course>

<h1>Courses</h1>

<p>Hello @ViewBag.UserName, you are @ViewBag.UserRole</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Instructor</th>
            <th>Room Number</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Teacher</td>
                <td>@course.RoomNumber</td>
                <td>@course.Time</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Course", new { id = course.Id })">Edit</a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Course", new { id = course.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>
